  
{% extends "layout/index.njk" %}

{% block title %}
  <title>GD: Games</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/games.css">
{% endblock %}

{% block content %}
<div class="gamesPrendTt ">
  <h1>Games</h1>
  <ul class="list-group ">
    {% for game in games %}
      <a href="/games/{{game.slug}}">
      <li class="list-group-item d-flex position-relative text-white bg-dark"> 
      <img src="{{game.cover.url}}" class="mr-2 imgJeux" alt="{{game.name}}">
        {# petite image pixelisé
        <img src="{{game.cover.thumbnail}}" alt="{{game.name}} cover" class="mr-2 imgJeux">
        #}
        <h3>{{game.name}}</h3>
        <div class="game-availability">
          {% for platform in game.platforms %}
            <img src="{{platform.platform_logo.url}}" height="100px" width="100px" class="ml-2 imgPlatform">
          {% endfor %}
        </div>
      <div class="gamesBoutonDuBas position-absolute">
        <a href="/games/{{game.slug}}"><button type="button" class="btn btn-primary  btn-block">See More!</button></a>
        </div>
      </li>
      </a>
    {% endfor %}
  </ul>
  </div>
{% endblock %}