.game-availability {
  right: 10px;
  bottom: 5px;
  position: absolute;
}
.gamesBoutonDuBas {
  display: none;
}
h3 {
  display: inline-flex;
  position: absolute;
}
li {
  margin-bottom: 10px;
}
h1 {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
li:hover {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgb(255, 255, 255);
    box-shadow: inset 0 0 14px 0px rgb(255, 255, 255);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 700px) {
  .gamesPrendTt {
    background-color: rgb(139, 139, 139);
  }
  .game-availability {
    position: relative;
  }
  .list-group-item {
    align-self: center;
    height: 60vh;
    width: 50vh;
    flex-direction: column;
    margin-top: 10px;
  }
  .imgJeux {
    width: 70%;
    height: auto;
    align-self: center;
  }
  h3 {
    font-size: 1.3rem;
    padding-top: 5%;
  }
  h1 {
    display: none;
  }
  .gamesBoutonDuBas {
    border: purple;
    display: contents;
    left: 10px;
    bottom: 5px;
  }
  .btn-lg {
    position: relative;
  }
}

@media screen and (max-width: 900px) {
}
