.partial-text {
  height: 124px;
  overflow: hidden;
}
h1 {
  font-size: 2.5rem;
  color: whitesmoke;
  margin: 10px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#cadredesPlatforms {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  height: 85vh;
}
#cadreInPlatforms {
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.card {
  background-color: rgba(0, 0, 0, 0.172);
  width: 18rem;
}
form{
  color: white;
}
.tchoupi{
  display: grid;
}
.tchoupi button{
  margin-top: 10px;
}
.card:hover {
  /* background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 20rem; 
  */
  -webkit-animation: shadow-inset-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
.btn {
  display: flex;
  justify-content: center;
}
.cadre-img {
  border: 2px solid black;
  margin: 5px;
  background-color: white;
}
.card-img-top {
  width: 80%;
  margin: 10%;
}

@media screen and (max-width: 991px) {
  h1 {
    text-align: center;
  }
  .card {
    display: flex;
    margin-bottom: 15px;
    width: 20rem;
  }
  .platforms-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    width: auto;
  }
  .platforms-list {
    padding-left: 0;
    margin: 1rem;
  }
  .partial-text {
    /* display: none; */
  }
}
